# Filetypes that git should not keep track of
# These are assembled files that one should assemble from the source code themselves.
# This also includes non-source code files such as IDE project configuration files.

*.bat
*.lst
*.hex
*.bin
.vs
